@media screen and (max-width: 500px) {
  // body {
  //     background-attachment: blue;
  // }
}

@media screen and (max-width: 750px) {
  .services {
    p {
      max-width: 90%;
    }

    ol {
      margin: 0;
      padding: 0;
    }

    li {
      margin-left: 0;
    }
  }

  header {
    .logo {
      .text-logo {
        display: block !important;
      }

      img {
        display: none;
      }
    }
  }

  .cardContainer {
    flex-direction: column;
    .card {
      align-self: center;
      img {
        max-width: 40%;
      }

      h3 {
        // display: none;
      }
    }
  }
}
